[user]
  name = haccht
  email = haccht@users.noreply.github.com
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  pager = true
  grep = true
[push]
  default = simple
[alias]
  graph = log --pretty=format:\"%C(yellow)%h %C(White)%ad | %C(White)%s%C(Green)%d %C(Red)[%an]\" --graph --date=short 
