[Unit]
Description=Starts i3lock at suspend time
After=sleep.target

[Service]
User=haccht
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3exit lock

[Install]
WantedBy=sleep.target
