[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target suspend.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3exit forklock

[Install]
WantedBy=sleep.target suspend.target
